<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="problem" class="problem center-align red darken-4 white-text">There has been a problem. Please, <a routerLink="/"> try Again</a></div>
<form #monitorForm="ngForm">
  <select name="availability" class="browser-default" (change)="filter()" [(ngModel)]="queries.availability">
    <option value="true">Available</option>
    <option value="false">Not Available</option>
    <option value="any">Any Availability</option>
  </select>
  <select name="neighborhood" class="browser-default" (change)="filter()" [(ngModel)]="queries.neighborhood">
    <option value="any">Any neighborhood</option>
    <option *ngFor="let neighborhood of neighborhoods">{{neighborhood.area_name}}</option>
  </select>
  <select name="macroarea" class="browser-default" (change)="filter()" [(ngModel)]="queries.macroarea">
    <option value="any">Any area</option>
    <option *ngFor="let area of macroareas">{{area}}</option>
  </select>
  <select name="user" class="browser-default" (change)="filter()" [(ngModel)]="queries.user">
    <option value="any">Any user</option>
    <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
  </select>
</form>
<p *ngIf="results">Quantity: {{results.length}}</p>
<table class="bordered striped">
  <thead>
    <tr>
      <td>Address</td>
      <td>Language</td>
      <td>Publisher</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let house of results">
      <td>{{house['FULL_ADDRESS']}}</td>
      <td>{{house.LANGUAGE}}</td>
      <td>{{usersHash[house.ID]}}</td>
      <a class="material-icons tiny dropdown-button grey-text" materialize="dropdown" [attr.data-activates]="'options'+house.COD">more_vert</a>
      <ul [attr.id]="'options'+house.COD" materialize="dropdown"class='dropdown-content z-depth-4'>
        <li class="red waves-effect waves-light btn red">
          <a (click)="delete(house)" class="white-text">
            <i class="material-icons large">delete</i>
          </a>
        </li>
        <li class="waves-effect waves-light center-align deep-purple darken-2 white-text"(click)="openCheckout(house)">
          <a class="white-text center-align">Checkout</a>
        </li>
      </ul>
    </tr>
  </tbody>
</table>


<div id="modal" class="modal" materialize="modal">
  <form #checkoutForm = "ngForm" (ngSubmit)="checkout()">
    <div class="modal-content">
      <h4>Checkout</h4>
      <p>You are checking-out the house:
        {{checkoutOptions.house['FULL_ADDRESS']}},
        {{checkoutOptions.house['LANGUAGE']}},
        last updated on:
        {{checkoutOptions.house['fLAST_UPDATE']}}
      </p>
      <p>Select a user to receive this house:</p>
      <select name="userCheckout" class="browser-default" [(ngModel)]="checkoutOptions.user">
        <option value="any">Any user</option>
        <option *ngFor="let user of users" [value]="user.id">{{user.name}}</option>
      </select>
    </div>
    <div class="modal-footer">
      <button type="submit" [disabled]="!checkoutForm.valid" class="modal-action modal-close waves-effect waves-light deep-purple darken-2 white-text btn-flat">Checkout</button>
    </div>
  </form>
</div>
