<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="problem" class="problem center-align red darken-4 white-text">There has been a problem. Please, <a routerLink="/"> try Again</a></div><div class="card-panel">
  <div>
      <p class="deep-purple-text text-darken-2 center-align">Change passwords
      </p>
  </div>
  <div>
    <p class="deep-purple-text text-darken-2">Select a user to have his password changed</p>
    <select required class="browser-default" name="changePasswordUser" [(ngModel)] = "changePasswordUser.id">
      <option value='' disabled>Select a publisher</option>
      <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
    </select>
    <p class="deep-purple-text text-darken-2">New password</p>
    <input
      class="form-control input-field"
      name="password"
      placeholder="Password"
      type="password"
      [(ngModel)] = "changePasswordUser.password"
      (keyup)="checkMatch()"
      #newPassword = 'ngModel'
      />
      <p class="deep-purple-text text-darken-2">Confirm new password</p>
      <input
        class="form-control input-field"
        name="confirmPassword"
        placeholder="Confirm Password"
        type="password"
        [(ngModel)] = "confirmPassword"
        (keyup)="checkMatch()"
        #confirmPasswordModel = 'ngModel'
        />
      <p class="red-text" *ngIf="!match && newPassword.dirty && confirmPasswordModel.dirty">Passwords don't match</p>
      <button class="btn deep-purple darken-2 white-text" (click)="changePassword(changePasswordUser)" [disabled]="!match">Change</button>

  </div>
</div>
