<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="problem" class="problem center-align red darken-4 white-text">There has been a problem. Please, <a routerLink="/"> try Again</a></div>
<ul class="collapsible popout" data-collapsible="accordion" materialize="collapsible">
    <li *ngFor="let cod_card of codCardNames" class="card-panel">
      <div class="collapsible-header">
        <legend class="territory-legend sub-legend">{{cod_card}}
          <i class="large material-icons">keyboard_arrow_down</i>
        </legend>
      </div>
      <div class="collapsible-body">
        <a
          (click)="downloadPicture('table'+cod_card)"
          class="deep-purple darken-2 white-text btn-flat left"
          >Picture</a>
        <table id="table{{cod_card}}" class="table bordered striped my-territory-table white">
            <thead>
                <tr>
                    <td>Address</td>
                    <td>Language</td>
                    <td>Comments</td>
                </tr>
            </thead>
            <tbody>
                <tr class="row" *ngFor="let house of householdsByCard[cod_card].households">
                    <td *ngIf="house.message">{{house.message}}</td>
                    <td class="data address"><a target="_blank" href="https://www.google.com/maps/search/{{house.FULL_ADDRESS}}">{{house.FULL_ADDRESS}}</a></td>
                    <td class="data">{{house.LANGUAGE}}</td>
                    <td class="data">{{house.COMMENTS}}</td>
                </tr>
            </tbody>
        </table>
      </div>
  </li>
</ul>
