<div class="navbar-fixed">
  <nav>
    <div class="nav-wrapper deep-purple darken-1">
      <a href="./" class="brand-logo small center">BSB ENGLISH TERRITORY</a>
        <a href="./" class="brand-logo left"> <i class="large material-icons">home</i></a>
        <a href="#" data-activates="mobile-demo" class="button-collapse right"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
            <li><a href="">Take</a></li>
            <li><a href="update_territory.php">Update</a></li>
            <li><a href="myterritory.php">My Territory</a></li>
            <li><a href="register.php">New Publisher</a></li>
            <li><a href="monitor_territory.php">Monitor</a></li>
            <li><a href="worked_territories.php">Last 30 Days</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="take_territory.php">Take</a></li>
          <li><a href="update_territory.php">Update</a></li>
          <li><a href="myterritory.php">My Territory</a></li>
            <li><a href="register.php">New Publisher</a></li>
            <li><a href="monitor_territory.php">Monitor</a></li>
            <li><a href="worked_territories.php">Last 30 Days</a></li>
        </ul>
    </div>
  </nav>
</div>
