<form class="card-panel">
    <fieldset class="login-fieldset">
        <div class="form-group">
            <input autofocus class="form-control input-field" name="username" placeholder="Username" type="text"[(ngModel)] = "username"/>
        </div>
        <div class="form-group">
            <input class="form-control input-field" name="password" placeholder="Password" type="password" [(ngModel)] = "password"/>
        </div>
        <div class="form-group">
            <button (click)="login($event, username, password)" class="waves-effect waves-light btn btn-default deep-purple darken-1">Log In</button>
        </div>
    </fieldset>
</form>
