<app-spinner *ngIf="loading"></app-spinner>
<form class="col s12">
       <div class="row">
          <div class="input-field col s12">
            <input id="username" type="text" class="validate" name="username" [(ngModel)] = "username">
            <label for="username">Name</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password" class="validate" name="password" [(ngModel)] = "password">
            <label for="password">Password</label>
          </div>
        </div>
        <button (click)="login($event, username, password)" class="waves-effect waves-light btn deep-purple darken-2">Log In</button>
</form>
