<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="problem" class="problem center-align red darken-4 white-text">There has been a problem. Please, <a routerLink="/"> try Again</a></div>
<p class="deep-purple-text text-darken-2 center">Change your password</p>
<form class="card-panel" #changePasswordForm = 'ngForm'>
  <p class="deep-purple-text text-darken-2">New password</p>
  <input
    class="form-control input-field"
    name="newPassword"
    placeholder="New Password"
    type="password"
    [(ngModel)] = "user.password"
    (keyup)="checkMatch()"
    #newPassword = 'ngModel'
    />
    <p class="deep-purple-text text-darken-2">Confirm new password</p>
    <input
      class="form-control input-field"
      name="confirmPassword"
      placeholder="Confirm Password"
      type="password"
      [(ngModel)] = "confirmPassword"
      (keyup)="checkMatch()"
      #confirmPasswordModel = 'ngModel'
      />
  <p class="red-text" *ngIf="!match && newPassword.dirty && confirmPasswordModel.dirty">Passwords don't match</p>
  <button class="btn deep-purple darken-2 white-text" (click)="changePassword()" [disabled]="!match">Change</button>
</form>
