<p class="deep-purple-text text-darken-2 center-align">Users</p>
<div class="row">
   <div class="col s12">
     <ul class="tabs">
       <li class="tab col s3"><a [routerLink]="['monitor-users']" [routerLinkActive]="['active']">Monitor</a></li>
       <li class="tab col s3"><a [routerLink]="['change-passwords']" [routerLinkActive]="['active']">Passwords</a></li>
       <li class="tab col s3"><a [routerLink]="['new-user']" [routerLinkActive]="['active']">New</a></li>
     </ul>
<router-outlet></router-outlet>
