<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="problem" class="problem center-align red darken-4 white-text">There has been a problem. Please, <a routerLink="/"> try Again</a></div>
<p class="deep-purple-text center-align">Return your cards or update their households</p>
<form>
  <ul class="collapsible" data-collapsible="accordion" materialize="collapsible">
      <li *ngFor="let cod_card of codCardNames" class="card-panel grey lighten-4">
        <span
          class="deep-purple darken-2 waves-effect waves-light white-text btn-flat right"
          (click)="returnCard(codsByCard[cod_card],cod_card)">RETURN</span>
        <div class="collapsible-header grey lighten-4">
          <legend class="territory-legend sub-legend">{{cod_card}}
            <i class="large material-icons">keyboard_arrow_down</i>
          </legend>
        </div>
              <ul *ngIf="householdsByCard[cod_card].households.length === 0"  class="collapsible-body white">
                  <li>
                    <p>Sorry, there are no foreigners in this card. <a [routerLink]='["/new-household"]'>Click here to add one.</a></p>
                  </li>
              </ul>
                <ul class="collapsible-body z-depth-4 center-align update-card white" *ngFor="let house of householdsByCard[cod_card].households; let i = index">
                    <legend class="grey-text center center-align"><a target="_blank" href="https://www.google.com/maps/search/{{householdsByCard[cod_card].households[i]['FULL_ADDRESS']}}">{{householdsByCard[cod_card].households[i]['FULL_ADDRESS']}}</a></legend>
                    <li class="data address">
                      <legend class="deep-purple-text darken-2">Conjunto, bloco, apt, casa</legend>
                      <input name="{{householdsByCard[cod_card].households[i].COD}}ADDRESS" placeholder="Conjunto,bloco,casa,apt" type="text" [(ngModel)]="householdsByCard[cod_card].households[i]['ADDRESS']">
                    </li>
                    <li class="data">
                      <legend class="deep-purple-text darken-2">Language</legend>
                      <select class="browser-default" name="{{householdsByCard[cod_card].households[i].COD}}LANGUAGE" [(ngModel)]="householdsByCard[cod_card].households[i]['LANGUAGE']">
                          <option>{{householdsByCard[cod_card].households[i]['LANGUAGE']}}</option>
                          <option *ngFor="let language of languages" value="{{language}}">{{language}}</option>
                      </select>
                    </li>
                    <li class="data">
                      <legend class="deep-purple-text darken-2">Comments (country, publications left...)</legend>
                      <input name="{{householdsByCard[cod_card].households[i].COD}}COMMENTS" type="text" [(ngModel)]="householdsByCard[cod_card].households[i]['COMMENTS']">
                    </li>
                    <a class="btn-floating green white-text" (click)="saveChanges(house)">
                      <i class="tiny material-icons">save</i>
                    </a>
                    <a class="btn-floating red white-text" (click)="deleteHousehold(house,cod_card)">
                      <i class="tiny material-icons">delete</i>
                    </a>
                </ul>
    </li>
  </ul>
</form>
