<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="problem" class="problem center-align red darken-4 white-text">There has been a problem. Please, <a routerLink="/"> try Again</a></div>
<p class="deep-purple-text center-align">Delete, return or make changes to households</p>
<form>
  <ul
    class="collapsible"
    data-collapsible="accordion"
    materialize="collapsible"
  >
    <li *ngFor="let house of households; let i = index" class="card-panel">
      <span
        class="deep-purple darken-2 white-text btn-flat waves-effect waves-light right"
        (click)="returnHouse(house)">
        RETURN
      </span>
      <div class="collapsible-header">
        <legend class="territory-legend sub-legend truncate left">
          {{house['LANGUAGE']}}
          <i class="large material-icons">keyboard_arrow_down</i>
        </legend>
      </div>
      <ul class="collapsible-body">
        <legend class="grey-text center center-align"><a target="_blank" href="https://www.google.com/maps/search/{{house.FULL_ADDRESS}}">{{house['FULL_ADDRESS']}}</a></legend>
        <br>
        <li class="data address">
          <legend class="deep-purple-text darken-2">Conjunto, bloco, apt, casa</legend>
          <input name="{{house.COD}}ADDRESS" placeholder="Conjunto,bloco,casa,apt" type="text" [(ngModel)]="house['ADDRESS']">
        </li>
        <li class="data">
          <legend class="deep-purple-text darken-2">Language</legend>
          <select class="browser-default" name="{{house.COD}}LANGUAGE" [(ngModel)]="house['LANGUAGE']">
              <option>{{house['LANGUAGE']}}</option>
              <option *ngFor="let language of languages" value="{{language}}">{{language}}</option>
          </select>
        </li>
        <li class="data">
          <legend class="deep-purple-text darken-2">Comments (country, publications left...)</legend>
          <input name="{{house.COD}}COMMENTS" type="text" [(ngModel)]="house['COMMENTS']">
        </li>
        <a class="btn-floating green white-text" (click)="saveHouse(house)">
          <i class="tiny material-icons">save</i>
        </a>
        <a class="btn-floating red white-text" (click)="deleteHouse(house)">
          <i class="tiny material-icons">delete</i>
        </a>
      </ul>
    </li>
  </ul>
</form>
