<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="problem" class="problem center-align red darken-4 white-text">There has been a problem. Please, <a routerLink="/"> try Again</a></div>
<form class="card-panel">
  <p class="deep-purple-text center-align">Monitor all of the search territory. Select options to filter your search. Rotate your phone for better visualization.</p>
  <select (change)="log()" placeholder="Any User" class="browser-default" name="userQuery" [(ngModel)] = "query.user">
    <option value="">Any User</option>
    <option *ngFor="let user of users" value="{{user.id}}">{{user.name}}</option>
  </select>
  <select (change)="log()" class="browser-default" name="macroareaQuery" [(ngModel)] = "query.macroarea">
    <option value="">Any Area </option>
    <option *ngFor="let area of macroareas" value="{{area}}">{{area}}</option>
  </select>
  <select (change)="log()" class="browser-default" name="area_nameQuery" [(ngModel)] = "query.area_name">
    <option value="">Any Neighborhood </option>
    <option *ngFor="let area of area_names" value="{{area.area_name}}">{{area.area_name}}</option>
  </select>
  <select (change)="log()" class="browser-default" name="availableQuery" [(ngModel)] = "query.available">
    <option value="">Any Availability</option>
    <option value="yes">Available</option>
    <option value="no">Not Available</option>
  </select>
  <div class="row">
    <div class="card-panel z-depth-2 col s6">
      <input (change)="log()" placeholder="number of days" type="number" name="workedInTheLastNumberOfDaysQuery"
        [(ngModel)] = "query.last">
      <legend class="deep-purple-text">Cards taken in the last...days</legend>
      <br>
    </div>
    <div class="card-panel z-depth-2 col s6">
      <input (change)="log()" placeholder="number of days" type="number" name="takenMoreThanNumberOfDaysQuery"
        [(ngModel)] = "query.more_than">
      <legend class="deep-purple-text">Cards taken more than...days ago</legend>
      <br>
    </div>
  </div>
  <a class=" green darken-2 btn waves-effect waves-light" (click)="excel()">EXCEL <i class="material-icons right">file_download</i></a>
  <a class=" deep-purple darken-2 btn waves-effect waves-light" (click)="log()">SEARCH</a>
  <table class="table bordered striped centered card-panel">
      <p *ngIf="result">Quantity: {{result.length}}</p>
      <thead>
          <tr>
              <td (click)="sortByCod_Card()">Card</td>
              <td (click)="sortByDate('TAKEN')"class="hide-on-small-only">Taken</td>
              <td (click)="sortByDate('last_update')" class="hide-on-small-only">Last search</td>
              <td class="hide-on-small-only">Houses</td>
              <td (click)="sortByPublisher()">Current publisher</td>
          </tr>
      </thead>
      <tbody>
          <tr class="row" [ngClass]="{'red lighten-4':!card.available}" *ngFor="let card of result | paginate: { itemsPerPage: 10, currentPage: p }">
              <td>{{card.COD_CARD}}, {{card.AREA_NAME}}</td>
              <td *ngIf="card.TAKEN" class="hide-on-small-only">{{card.TAKEN}} days</td>
              <td *ngIf="!card.TAKEN" class="hide-on-small-only">Never taken</td>
              <td *ngIf="card.LAST_UPDATE"class="hide-on-small-only">{{card.LAST_UPDATE}} days</td>
              <td *ngIf="!card.LAST_UPDATE"class="hide-on-small-only">Never worked</td>
              <td>{{card.COUNT}}</td>
              <td>{{usersHash[card.ID]}}</td>
              <a class="material-icons tiny dropdown-button grey-text" materialize="dropdown" [attr.data-activates]="'options'+card.cod">more_vert</a>
              <ul [attr.id]="'options'+card.cod" materialize="dropdown"class='dropdown-content z-depth-4'>
                <li class="red waves-effect waves-light btn red">
                  <a (click)="delete(card)" class="white-text">
                    <i class="material-icons large">delete</i>
                  </a>
                </li>
                <li *ngIf="!card['available']" class="waves-effect waves-light deep-purple darken-2">
                  <a
                    (click)="returnNoUpdate(card)"
                    class="white-text center">
                    Return
                  </a>
                </li>
                <li class="waves-effect waves-light btn deep-purple darken-2">
                  <a
                    class="white-text"
                    [routerLink]='["/display-households-in-cards"]'
                    [queryParams]="{cod_card_cod:[card.cod],cod_card:card.COD_CARD}">
                    <i class="material-icons large">search </i>
                  </a>
                </li>
              </ul>
            </tr>
      </tbody>
  </table>
</form>
<pagination-controls class="card-panel col s12"(pageChange)="p = $event"></pagination-controls>
