<app-spinner *ngIf="loading"></app-spinner>
<div *ngIf="problem" class="problem center-align red darken-4 white-text">
  There has been a problem. Please, <a routerLink="/"> try Again</a>
</div>
<p class="deep-purple-text center-align">Select households to be visited</p>
<form class="form" (ngSubmit)="onSubmit()" #takeVisitsForm = "ngForm" class="card-panel">
  <div class="input-field" id="take-user-select">
    <legend>Select a Publisher</legend>
    <select class="browser-default" name="user" [(ngModel)]="selectedUser" required>
      <option value='' disabled>Select a publisher</option>
      <option [disabled]="user.visiting >= user.max_visiting" *ngFor="let user of users" value="{{user.id}}">{{user.name}} ({{user.visiting}} households)</option>
    </select>
  </div>
  <div class="input-field" id="take-neighborhood-select">
    <legend>Select a Neighborhood</legend>
    <select class="browser-default" name="neighborhood" [(ngModel)]="selectedNeighborhood" (change)="reset()" required>
      <option value='' disabled>Select a neighborhood</option>
      <option *ngFor="let neighborhood of neighborhoods" value="{{neighborhood.area_name}}">{{neighborhood.area_name}}</option>
    </select>
  </div>
  <div class="input-field" id="take-neighborhood-select">
    <legend>Select how many households will be visited</legend>
    <input type="number" name="quantity" [(ngModel)]="quantity" min="1" max="30" (change)="populate()" required>
  </div>
  <table id="table" class="table bordered striped my-territory-table" *ngIf="households">
      <thead>
          <tr>
              <td>Address</td>
              <td>Language</td>
              <td>Last Visit</td>
          </tr>
      </thead>
      <tbody>
          <tr class="row" *ngFor="let house of households">
              <td>{{house.FULL_ADDRESS}}</td>
              <td class="data address">{{house.LANGUAGE}}</td>
              <td class="data">{{house.LAST_UPDATE}}</td>
          </tr>
      </tbody>
  </table>
      <div class="fixed-action-btn">
        <button id="takeBtn"
        style="margin-right:10px"
        [disabled]="!takeVisitsForm.form.valid || quantity < 1 || !housesLoaded || !households.length"
        type="submit" class="waves-effect waves-light z-depth-4 btn-floating btn-large green darken-1 white-text">
          <i class="material-icons">assignment_returned</i>
        </button>
      </div>
</form>
