.material-icons {
text-rendering: optimizeLegibility;
}
.navbar-fixed {
 z-index: 9999 !important;
}
.loading-page{
  background:rgba(105, 104, 104, 0.5);
  width:100%;
  z-index:999999!important;
  display:flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  height:100%;
  left:0;
}

.indicator {
  background-color:#512da8 !important;
}
.tabs .tab a:hover, .tabs .tab a.active{
  color:#512da8 !important;
}
.tabs .tab a{
    color:#512da8 !important;
}

.ngx-pagination .current {
  background-color:#512da8!important;
}
