.browserupgrade {
  display: block;
  font-size:14px;
  background-color:white;
  padding:2%;
  top:0;
  z-index:99999999;
  position:fixed;
  border: 1px black solid;
}

/* IE 11 */
_:-ms-fullscreen, :root .browserupgrade { display: none; }

/* Opera Mini 8 */
:-o-prefocus, .browserupgrade { display: none; }

/* all modern browsers */
@supports (display: flex) { .browserupgrade { display: none; }}

.material-icons {
text-rendering: optimizeLegibility;
}
.navbar-fixed {
 z-index: 9999 !important;
}
.loading-page{
  background:rgba(105, 104, 104, 0.5);
  width:100%;
  z-index:999999 !important;
  display:flex;
  align-items: center;
  justify-content: center;
  position:fixed;
  height:100%;
  left:0;
  top:0;
}

.drag-target{
  display:none;
}

#sidenav-overlay{
  display:none;
}

.indicator {
  background-color:#512da8!important;
}
.tabs .tab a:hover, .tabs .tab a.active{
  color:#512da8!important;
}
.tabs .tab a{
    color:#512da8!important;
}

.ngx-pagination .current {
  background-color:#512da8!important;
}
/* label color */
 .input-field label {
   color: #512da8!important;
 }
 /* label focus color */
 .input-field input[type=text]:focus + label {
   color:#512da8!important;
 }
 .input-field input[type=password]:focus + label {
   color:#512da8!important;
 }
 .input-field input[type=password]:focus:not([readonly]) {
   color:#512da8!important;
 }
 input[type=password]:focus:not([readonly]){
   border-bottom: 1px solid #512da8!important;
   box-shadow: 0 1px 0 0 #512da8!important;
 }
 input:focus:not([readonly]){
   border-bottom: 1px solid #512da8!important;
   box-shadow: 0 1px 0 0 #512da8!important;
 }
 /* label underline focus color */
 .input-field input[type=text]:focus {
   border-bottom: 1px solid #512da8!important;
   box-shadow: 0 1px 0 0 #512da8!important;
 }
 .input-field input[type=password]:focus {
   border-bottom: 1px solid #512da8!important;
   box-shadow: 0 1px 0 0 #512da8!important;
 }
 /* valid color */
 .input-field input[type=text].valid {
   border-bottom: 1px solid #512da8!important;
   box-shadow: 0 1px 0 0 #512da8!important;
 }
 /* invalid color */
 .input-field input[type=text].invalid {
   border-bottom: 1px solid #512da8!important;
   box-shadow: 0 1px 0 0 #512da8!important;
 }
 /* icon prefix focus color */
 .input-field .prefix.active {
   color:#512da8!important;
 }
